/* Titre */
  .identite {
    font-size: 35px;    
    text-align: center;
    font-weight: bold;
    margin-left: 135px;  
    margin-top: 10px;   
    margin-bottom: 10px;     
    background: -webkit-linear-gradient(white, rgba(0, 68, 255, 0.61));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
  }
  
  
  /* Image */
  .photo {
    width: 300px;    
    border-radius: 10px;
    margin-top: 150px;  
    margin-left: 150px; 
    margin-bottom: 10px;  
  }
  
  em {
    color: grey;
  }

  .logo {
    width: 25px;
    height: 25px;
  }
  
  /* Corps du texte */
  .partie2 article {
    background-color: rgb(239, 245, 248);
    width: 600px;
    display: inline-block;
    margin: 1%;
    margin-top: 2px;
    border: 1px solid rgb(239, 245, 248);
    border-radius: 10px;
    overflow:hidden;      
  }
  
  .partie2 h2 {
    padding-left: 1.5rem;
    padding-bottom: 0.2rem;    
    color:rgba(0, 174, 255, 0.61);
  }

  p {
    padding-top: 10px;
    margin-left: 25px;
    width: 550px;
    text-align: justify;
  }
  
  ul li {
    list-style: none;
    margin-left: 180px;
  }
  
   span {
    font-weight: bold;
  }
  
  .blue{
    font-weight: bold;
    color: rgba(0, 174, 255, 0.61);
  }

  .box {
    display: flex;
    justify-content: center;
  }

  
  /* Bouton Contact */
  .styled {
    width: 200px;
    margin-top: 10px;
    margin-left: 1035px;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(0, 174, 255, 0.61);
    background-image: linear-gradient(
      to top left,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 30%,
      rgba(0, 0, 0, 0)
    );
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
      inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  }
  
  .styled:hover {
    background-color: rgb(0, 102, 255);
  }
  
  .styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
      inset 2px 2px 3px rgba(0, 0, 0, 0.6);
  }
  
  
  /* Responsive (?) */
  @media screen and (max-width: 600px) {
    body {
      display: block;
      background-color: white;
      margin: auto;
      width: 85%;
      height: auto;
    }
  }
  
  @media all and (min-width: 600px) {
    strong {
      color: rgb(173, 182, 230);
    }
  }
  
  