:root {
   --bg-col: #f76c6c;
}

.bloc-container {

  display: grid;
  grid-template-columns: 1fr 2fr 1fr;  
  grid-template-rows:  125px;
}

header {
  background-color:var(--bg-col);
   position:absolute;
   width:100%;
}

.img {
  grid-column-start: 1;
  grid-column-end: 2;
}

.h2 {
  display: flexgrid;
  
   grid-column-start: 2;
   grid-column-end: 3;
   text-align: center;
   color : white;
   font-size: 35px;
   
}

a:hover {
  opacity:0.5;
}



ul {
   background-color:var(--bg-col);
   list-style-type: circle ; 
  }
 /* //agis sur le footer !!!
ul li a {
   color: white;
   text-decoration: none;
   list-style-type: none;
   font-size: 10px;
}*/

navbar-brand {
   background-color:var(--bg-col);
   position:absolute;
   top:0;
   width: 100%;
   
}

 
 /*test menu*/
 
 #menuToggle {
   display: flex;
   flex-direction: column;
   position: relative;
   top: 25px;
   left: 25px;
   z-index: 1;
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle input
 {
   display: flex;
   width: 40px;
   height: 32px;
   position: absolute;
   cursor: pointer;
   opacity: 0;
   z-index: 2;
 }
 
 #menuToggle span
 {
   display: flex;
   width: 29px;
   height: 2px;
   margin-bottom: 5px;
   position: relative;
   background: rgb(2, 0, 0);
   border-radius: 3px;
   z-index: 1;
   transform-origin: 5px 0px;
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-3px, -1px);
   background: #36383F;
 }
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 #menu
 {
   position: absolute;
   width: 180px;
   height: 400px;
   box-shadow: 0 0 10px #85888C;
   margin: -50px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;
   background-color: #F76c6c;
   -webkit-font-smoothing: antialiased;
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {
   padding: 10px 0;
   transition-delay: 2s;
 }
 
 #menuToggle input:checked ~ ul
 {
   transform: none;
 }


