:root {
   --bg-col: #f16b6c;
}

h1 {

   color : white;
}

ul {
   background-color:var(--bg-col);
   display: list-item ;
   justify-content: space-around;
   color : white;
   height: 125px;

}
 
ul li  { 
   
   margin: 0;
    padding: 0px;
   background-color:var(--bg-col);
    list-style-type: none;  
}

ul li a {
   color: white;
   text-decoration: none;
   list-style-type: none;
   font-size: 10px;
}

.navbar-brand {
   display: flex;
   align-items: stretch;
   align-content: stretch;
   background-color:var(--bg-col);
   ;
}


