ul {
   background: #f16b6c;
   display: flex;
   justify-content: space-around;
   padding: 12px;
 }
 
 ul li {
   list-style: none;
 }
 
 ul li a {
   color: white;
   text-decoration: none;
 }
 
 ul li a:hover {
   color: #f16b6c;
 }
 
 header {
   text-align: left;
 }