@import '_button.css';
@import '_fichier_perso.css';
@import '_footer.css';
@import '_header.css'; 
@import '_trombi.css';
@import '_contact.css';

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,700&family=Varela+Round&display=swap');

:root {
    --fonts-title : 'raleway', sans-serif;
    --fonts-paragraph : 'Varela Round', sans-serif;
    --main-color : #fff;
    --button-color : #528bc0;
    --text-color : #39424e;

    --menu-height: 80px;
}

* {
  box-sizing: border-box;
}

.loader-container {
  position:fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--main-color);
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 16px solid var(--text-color);
  border-top: 16px solid #f76c6c;
  border-bottom: 16px solid #f76c6c;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
  }

  .hidden {
    animation: disparition 2s;
    animation-fill-mode: forwards;
    visibility: hidden;
  }

  @keyframes disparition {
    100%{
      opacity: 0;
      display: none;
    }    
  }

body {
    font-family: var(--fonts-paragraph);
    font-size: 0.9rem;
    background-color: var(--main-color);
    color: var(--text-color);
    display: flex; /* add styleFine*/
    justify-content: center; /* add styleFine*/
    flex-direction: column;
    margin: var(--menu-height) 0 0 0;
    min-height: 100vh;
}

.container-index {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: center;
  justify-content: center;
}

img {
  max-width: 100%;
}

.presentation-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0
}

a {
    text-decoration: none;
}

.WCS-img {
  width: 100vw;
  height: 50vh;
  background-image: url(../logoMumakil.resized.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.presentation-text p {
    font-family: var(--fonts-paragraph);
    color: var(--text-color);
    text-align: justify;
    margin: auto 25px;
    transform: rotateX(15deg) rotateY(0deg);/*perspective*/
    transform-style: preserve-3d;/*perspective*/
}

@media screen and (min-width: 425px) {
  .presentation-text p {
    font-size: 1.4rem;
  }
}

.links-trombi {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.button {
  font-family: var(--fonts-title);
  color: var(--main-color);
  font-size: 1.5rem;
  text-align: center;
  margin: 10px;
  padding: 5px 10px;
  background-color: #528bc0;
  border-radius: 12px;
  border: 0;
  animation: animation 2000ms linear both;
}

@keyframes animation { 
  0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  2.15% { transform: matrix3d(0.589, 0, 0, 0, 0, 1.514, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.3% { transform: matrix3d(0.297, 0, 0, 0, 0, 1.879, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.46% { transform: matrix3d(0.158, 0, 0, 0, 0, 2.052, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  8.61% { transform: matrix3d(0.125, 0, 0, 0, 0, 2.093, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  14.16% { transform: matrix3d(0.183, 0, 0, 0, 0, 2.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  19.72% { transform: matrix3d(0.205, 0, 0, 0, 0, 1.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  24.9% { transform: matrix3d(0.201, 0, 0, 0, 0, 1.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  25% { transform: matrix3d(0.201, 0, 0, 0, 0, 1.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  27.15% { transform: matrix3d(-0.199, -0.018, 0, 0, 0.179, -1.992, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.3% { transform: matrix3d(0.144, -0.138, 0, 0, 1.382, 1.446, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  30.83% { transform: matrix3d(0.198, 0.024, 0, 0, -0.236, 1.986, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  31.46% { transform: matrix3d(0.189, 0.064, 0, 0, -0.645, 1.893, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  33.61% { transform: matrix3d(0.166, 0.111, 0, 0, -1.107, 1.666, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  39.16% { transform: matrix3d(0.198, 0.026, 0, 0, -0.258, 1.983, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  41.99% { transform: matrix3d(0.2, -0.002, 0, 0, 0.018, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  44.72% { transform: matrix3d(0.2, -0.008, 0, 0, 0.078, 1.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  49.9% { transform: matrix3d(0.2, -0.002, 0, 0, 0.021, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  50% { transform: matrix3d(0.2, -0.002, 0, 0, 0.02, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  52.15% { transform: matrix3d(0.611, -0.001, 0, 0, 0.002, 1.486, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  54.3% { transform: matrix3d(0.903, 0.002, 0, 0, -0.002, 1.121, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  55.83% { transform: matrix3d(1.015, 0.003, 0, 0, -0.003, 0.981, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  56.46% { transform: matrix3d(1.042, 0.003, 0, 0, -0.002, 0.948, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  58.61% { transform: matrix3d(1.075, 0.002, 0, 0, -0.002, 0.907, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  64.16% { transform: matrix3d(1.017, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  66.99% { transform: matrix3d(0.999, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  69.72% { transform: matrix3d(0.995, 0, 0, 0, 0, 1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  75% { transform: matrix3d(0.999, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  80.83% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  91.99% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

button a {
  color: #fff;
}
/* -- trombi mobile first--*//* add styleFine*/
.bodyTrombi{
    /*pour une image de fond fixe*/ 
    background: 
    url("../logoMumakil.png") 
    center center/contain no-repeat fixed;
     }


.container{
    /* border: 5px solid black;*/
    /* padding: 10px;*/
    display: flex;/* -- alignement--*/
    flex-direction: column;
    align-items: center;
}


/*.trombi{
background of page Trombi*/ 
/*background-color: #f76c6c; 
}*/ 



.picture{
    width: 20vh; 
    margin: 15% auto; /* -- haut droite bas gauche--*/
    /*text-align:center;
    padding: 3vh;/* -- to cancel at pic add, except if you decide to keep the name on pics--*/
    
    /*position:absolute transform;*/
    border: 2px solid grey;/* -- to cancel at pic add --*/
    /*background-color: #fff; /* -- to cancel at pic add --*/
    border-radius: 10px; /* -- corner round if you like it --*/
    height: 30vh; 
    box-sizing: border-box; /* -- ?? je sais plus a quoi ca sert --*/
    box-shadow: 7px 7px 5px 0px rgba(50, 118, 163, 0.75);/* -- ombre photo --*/
    background-image: url(""); /* -- quand on les aura ahaha!! --*/
    animation: myAnim 1s ease 0s 1 normal forwards;/* -- animation --*/
    
}
/*@keyframes myAnim {
    0% {transform: scale(0);}
    100% {transform: scale(1);}
  }*/
@keyframes myAnim {
    0% {opacity: 0;
      transform: translateX(-250px);}
    100% {opacity: 1;
      transform: translateX(0);}
  }

/* -- contact--*//* add styleFine*/
.bodyForm{
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../../assets/css/logoT.png"),
  linear-gradient(105deg, #528bc0 -70%, #fff 35%);
}

.formulaire {
    margin: 0 auto;
    
  }
  

  .input-control {
    width: 90%;
    padding: 60px 20px;
    display: block;
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 1rem auto;
  }

#submitButton {
  float: right;
}