@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,700&family=Varela+Round&display=swap%27');
@import 'header.css';
@import 'footer.css';


:root {
    --fonts-title : 'raleway', sans-serif;
    --fonts-paragraph : 'Varela Round', sans-serif;
    --main-color : #fff;
    --button-color : #f76c6c;
    --text-color : #39424e;
}

body{
    display: flex;
    justify-content: center;
}

/* -- titre commun--*/
h1{
    font-size: large;
    color: #f76c;
}


/* -- trombi mobile first--*/
.bodyTrombi{
    /*pour une image de fond fixe*/ 
    background-image:url("logoMumakil.jpg");
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-position:center center;
    background-size: 50%;
    opacity: 3;
     }


.container {
    border: 5px solid black;
    padding: 10px;
    
}


/*.trombi{
background of page Trombi*/ 
/*background-color: #f76c6c; 
}*/ 



.picture{
    width: 90%; 
    margin: 15% 5% 35% 5%; /* -- haut droite bas gauche--*/
    padding: 8%;/* -- to cancel at pic add, except if you decide to keep the name on pics--*/
    display: block;/* -- alignement--*/
    border: 2px solid grey;/* -- to cancel at pic add --*/
    /*background-color: #fff; /* -- to cancel at pic add --*/
    border-radius: 10px; /* -- corner round if you like it --*/
    height: 30vh; 
    box-sizing: border-box; /* -- ?? je sais plus a quoi ca sert --*/
    background-image: url("") /* -- quand on les aura ahaha!! --*/
}

/* -- contact--*/
.formulaire {
    margin: 0 auto;
  }
  
  input {
    width: 90%;
    padding: 10px 30px;
    display: block;
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 1rem auto;
  }
  
  textarea {
    width: 90%;
    padding: 60px 20px;
    display: block;
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 1rem auto;
  }

#submitButton {
  float: right;
}